

  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form{
    margin: auto;
    background-color: rgb(254, 254, 254);
   
  }
  

  .container{
    width: 60%;
    margin: auto;
  }